{% extends 'operador.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <div class="page-content">
            <!-- BEGIN BREADCRUMBS -->
            <div class="breadcrumbs">
                <h1>Editar Cliente</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ env }}">Inicio</a>
                    </li>
                    <li class="active">Editar Cliente</li>
                </ol>
            </div>
            <!-- END BREADCRUMBS -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light portlet-fit portlet-form bordered" id="form_wizard_1">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green sbold uppercase">Formulario para la actualización de clientes</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <!-- BEGIN FORM-->
                            <form action="" class="form-horizontal" method="POST">
                                <div class="form-body">
                                    <h3 class="form-section">Datos de registro</h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="no_celular"># de Celular</label>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control" id="no_ceular" name="no_celular" value="{{ dataCliente.no_celular }}" disabled>
                                            <span class="help-block">Ingrese el número de celular</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="no_celular">Activo desde</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="fecha" name="fecha" value="{{ dataCliente.fecha }}" disabled>
                                            <span class="help-block">Fecha en la que se resgistró el número</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3" for="estado">Estado</label>
                                        <div class="col-md-4">
                                            <select class="form-control" id="estado" name="estado">
                                                <option value="Activo" {% if dataCliente.estado == "Activo" %}selected{% endif %}>Activo</option>
                                                <option value="Inactivo" {% if dataCliente.estado == "Inactivo" %}selected{% endif %}>Inactivo</option>
                                            </select>
                                            <span class="help-block">Seleccione un estado de la lista</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn green">Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END VALIDATION STATES-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
    {% endblock %}
